@model IEnumerable<Kutuphane.Models.Entity.yazarlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yazar_ad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_ad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Show", new { id=item.yazar_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.yazar_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.yazar_id })
        </td>
    </tr>
}

</table>
