@model Kutuphane.Models.Entity.library

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>library</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriler.kategori_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriler.kategori_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaynak.kaynak_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaynak.kaynak_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayınevi.yayınevi_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayınevi.yayınevi_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazarlar.yazar_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazarlar.yazar_ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.library_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
